<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925629266227-a93i85v3eqhteataed8l4retv3s9hm13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925629266227-a93i85v3eqhteataed8l4retv3s9hm13</string>
	<key>API_KEY</key>
	<string>AIzaSyDGwan5G50HTkZothQaNDpHm3GsS2SEl04</string>
	<key>GCM_SENDER_ID</key>
	<string>925629266227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beauty</string>
	<key>PROJECT_ID</key>
	<string>beauty-bd2e4</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-bd2e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925629266227:ios:d0fad294d484a132fa2646</string>
</dict>
</plist>